nav {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    border-bottom: 1px solid black;
}

ul,li:hover {
    display: inline-block;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.lista_menu {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.lista_icon {
    display: flex;
}
a {
    color: black;
    text-decoration: none;
}

.logotipo {
    width: 96px;
    height: 96px;
}

@media (max-width: 700px) {
    .menu {
        display: none;
    }
}