#Localização {
    height: 700px;
    position: relative;
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows:100px 100px auto;
}

.LocalizaçãoPrincipal {
        grid-column: 2/8;
        grid-row-start: 2;
}

.TítuloLocalização {
    font-family: Merienda;
    font-size: 48px;
}

.ÍconeLocal {
    height: 280px;
    width: 300px;
    grid-column: 5/13;
    grid-row-start:1;
    z-index: 1;
    margin-top: 70px;

}

.Mapa {
    height: 450px;
    grid-column: 2;
    grid-row-start: 7;
    margin-bottom: 50px;
}

.Arredondada2 {
    position: absolute;
    top: 20%;
    right: 0;
    width: 450px;
    height: 450px;
    background-color: #da582f;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.Endereço {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: var(--t-18);
    font-family: 'Poppins';
    font-weight: 300;
}

@media (max-width:700px) { 
    
    #Localização {
        height: 700px;
    }
    .Arredondada2 {
        display: none;
    }

    .Endereço {
        display: none;
    }

    .TítuloLocalização {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    }

    .ÍconeLocal {
        display: none;
    }
    .Mapa {
        width: 300px;
        height: 400px;
        display: grid;
        grid-column: 7;
        grid-row-start: 3;
    }

    
}

